# Some examples of items to put in this config file
# 
# For repeated requests to the same URL:
BASE=http://127.0.0.1:8080/WebGoat
#    NOTE:  BASE is the only config option done as a key=value pair.
#           All others are simply one command line option per line.
#           Make sure the line starts with "BASE="
# 
# NOTE: DO NOT QUOTE ARGUMENTS TO COMMAND LINE OPTIONS
# jerry-curl will automagically quote them for you
#
# Proxy curl commands:
--proxy 127.0.0.1:8888 
# 
# Allow insecure SSL:
# --insecure
#
# Include headers in the output
-include
# 

# Set headers like IceWeasel to /j_spring_security_check - aka POST login creds
-X POST 
--data username=guest&password=guest
-A Mozilla/5.0 (X11; Linux i686; rv:38.0) Gecko/20100101 Firefox/38.0 Iceweasel/38.2.0
-H Accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8
-H Accept-Language: en-US,en;q=0.5
-H Referer: http://127.0.0.1:8080/WebGoat/login.mvc
-H Connection: keep-alive
-H Content-Type: application/x-www-form-urlencoded

