# Some examples of items to put in this config file
# 
# For repeated requests to the same URL:
BASE=http://127.0.0.1:8080/WebGoat
#    NOTE:  BASE is the only config option done as a key=value pair.
#           All others are simply one command line option per line.
#           Make sure the line starts with "BASE="
# 
# NOTE: DO NOT QUOTE ARGUMENTS TO COMMAND LINE OPTIONS
# jerry-curl will automagically quote them for you
#
# Proxy curl commands:
--proxy 127.0.0.1:8888 
# 
# Allow insecure SSL:
# --insecure
#
# Include headers in the output
-include
# 

# Set headers like IceWeasel for the exploit of General => Http Basics page
# by POSTing to /attack?$MENU where $MENU is something like "Screen=1094&menu=100"
-X POST
--data person=Eddie+Example&SUBMIT=Go!
-A Mozilla/5.0 (X11; Linux i686; rv:38.0) Gecko/20100101 Firefox/38.0 Iceweasel/38.2.0
-H Accept: */*
-H Accept-Language: en-US,en;q=0.5
-H Content-Type: application/x-www-form-urlencoded; charset=UTF-8
-H X-Requested-With: XMLHttpRequest
-H Referer: http://127.0.0.1:8080/WebGoat/start.mvc
-H Connection: keep-alive
-H Pragma: no-cache
-H Cache-Control: no-cache

